In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#reading csv file into dataframe for hospitals
csv_file = 'Resources/Hospitals.csv'
hospital_data_df = pd.read_csv(csv_file)
hospital_data_df.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-94.945477,29.747620,8497,76777520,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,1700 JAMES BOWIE DRIVE,BAYTOWN,TX,77520,NOT AVAILABLE,...,2017-12-18T00:00:00.000Z,http://www.houstonmethodist.org/locations/san-...,NOT AVAILABLE,NOT AVAILABLE,48.0,NON-PROFIT,-999.0,182.0,NOT AVAILABLE,Y
1,-82.881843,40.027143,8498,129043230,"WOODS AT PARKSIDE,THE",349 OLDE RIDENOUR ROAD,COLUMBUS,OH,43230,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.thewoodsatparkside.com/,1815,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,50.0,NOT AVAILABLE,NOT AVAILABLE
2,-84.168027,39.774242,8499,130045404,DAYTON CHILDREN'S HOSPITAL,ONE CHILDRENS PLAZA,DAYTON,OH,45404,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.childrensdayton.org/cms/home/index....,1411,NOT AVAILABLE,39.0,NON-PROFIT,-999.0,155.0,PEDIATRIC LEVEL II,Y
3,-80.632972,41.005169,8500,128844512,VIBRA HOSPITAL OF MAHONING VALLEY,8049 SOUTH AVENUE,BOARDMAN,OH,44512,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.mahoningvalleyhospital.com/,1428,MAHONING VALLEY HOSPITAL BOARDMAN CAMPUS,39.0,PROPRIETARY,-999.0,45.0,NOT AVAILABLE,NOT AVAILABLE
4,-84.199398,39.747740,8501,129845417,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,"ONE ELIZABETH PLACE,E3 SUITE A",DAYTON,OH,45417,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,https://dayton.havenbehavioral.com/,1506,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,32.0,NOT AVAILABLE,NOT AVAILABLE

In [3]:
#reading csv file into dataframe for income
csv_file = 'Resources/income.csv'
income_data_df = pd.read_csv(csv_file)
income_data_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [4]:
#TRANSFORM hospital dataset
#creating sub df for just the columns we want
hospital_cols = ["NAME", "CITY", "ZIP", "TYPE","STATUS", "POPULATION", "BEDS", "OWNER", "STATE"]
hospital_transformed = hospital_data_df[hospital_cols].copy()

#rename the column headers
hospital_transformed.rename(columns={"NAME": "Name",
                                     "CITY": "City",
                                     "ZIP": "Zip",
                                     "STATUS": "Status",
                                     "TYPE": "Care",        
                                     "POPULATION": "Pop_100k",
                                     "BEDS": "Beds",
                                     "OWNER": "Owner",
                                     "STATE": "State"
                                      })

#Set index
#hospital_transformed.drop_duplicates("index?", inplace=Ture)
#hospital_transformed.set_index("index?", inplace=True)

,Name,City,Zip,Care,Status,Pop_100k,Beds,Owner,State
0,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,BAYTOWN,77520,GENERAL ACUTE CARE,OPEN,182,182.0,NON-PROFIT,TX
1,"WOODS AT PARKSIDE,THE",COLUMBUS,43230,SPECIAL,OPEN,50,50.0,PROPRIETARY,OH
2,DAYTON CHILDREN'S HOSPITAL,DAYTON,45404,CHILDREN,OPEN,155,155.0,NON-PROFIT,OH
3,VIBRA HOSPITAL OF MAHONING VALLEY,BOARDMAN,44512,LONG TERM CARE,OPEN,45,45.0,PROPRIETARY,OH
4,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,DAYTON,45417,PSYCHIATRIC,OPEN,32,32.0,PROPRIETARY,OH
...,...,...,...,...,...,...,...,...,...
7565,LIFE LINE HOSPITAL,WINTERSVILLE,43953,LONG TERM CARE,OPEN,36,36.0,PROPRIETARY,OH
7566,"TEN LAKES CENTER, LLC",DENNISON,44621,PSYCHIATRIC,OPEN,16,16.0,PROPRIETARY,OH
7567,LINDNER CENTER OF HOPE,MASON,45040,PSYCHIATRIC,OPEN,34,34.0,NON-PROFIT,OH
7568,CUERO COMMUNITY HOSPITAL,CUERO,79022,GENERAL ACUTE CARE,OPEN,49,49.0,GOVERNMENT - DISTRICT/AUTHORITY,TX
7569,HARRIS HEALTH SYSTEM QUENTIN MEASE HOSPITAL,HOUSTON,77004,GENERAL ACUTE CARE,OPEN,49,49.0,NON-PROFIT,TX

In [5]:
#TRANSFORM income dataset

#creating sub df for just the columns we want
income_cols = ["Zip_Code", "Mean", "Median", "Stdev", "sum_w"]
income_transformed = income_data_df[income_cols].copy()

#rename the column headers
income_transformed.rename(columns={"Zip_Code": "Zip",
                                   "sum_w": "Households"})

#clean the data by dropping duplicates 
#income_transformed.drop_duplicates("index?", inplace=True)
#income_transformed.set_index("index?", inplace=True)

         Zip   Mean  Median  Stdev   Households
0      36611  38773   30506  33101  1638.260513
1      36048  37725   19528  43789   258.017685
2      35051  54606   31930  57348   926.031000
3      36572  63919   52814  47707   378.114619
4      36528  77948   67225  54270   282.320328
...      ...    ...     ...    ...          ...
32521    970  30649   13729  37977  1321.278082
32522    602  15520    9923  15541   238.813450
32523    602  41933   34054  31539   313.551070
32524    602      0       0      0     0.000000
32525    603  28049   20229  33333   512.884803

[32526 rows x 5 columns]

In [6]:
#review the transformed hospital table
hospital_transformed.head()

,NAME,CITY,ZIP,TYPE,STATUS,POPULATION,BEDS,OWNER,STATE
0,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,BAYTOWN,77520,GENERAL ACUTE CARE,OPEN,182,182.0,NON-PROFIT,TX
1,"WOODS AT PARKSIDE,THE",COLUMBUS,43230,SPECIAL,OPEN,50,50.0,PROPRIETARY,OH
2,DAYTON CHILDREN'S HOSPITAL,DAYTON,45404,CHILDREN,OPEN,155,155.0,NON-PROFIT,OH
3,VIBRA HOSPITAL OF MAHONING VALLEY,BOARDMAN,44512,LONG TERM CARE,OPEN,45,45.0,PROPRIETARY,OH
4,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,DAYTON,45417,PSYCHIATRIC,OPEN,32,32.0,PROPRIETARY,OH

In [7]:
#review the transformed income table
income_transformed.head()

   Zip_Code   Mean  Median  Stdev        sum_w
0     36611  38773   30506  33101  1638.260513
1     36048  37725   19528  43789   258.017685
2     35051  54606   31930  57348   926.031000
3     36572  63919   52814  47707   378.114619
4     36528  77948   67225  54270   282.320328

In [ ]:
#creating connection to sql 
conn_str = 'postgres:postgres@localhost:5432/Income_vs_healthcare'
engine = create_engine(f'postgressql://{conn_str}')

In [ ]:
#check connection
engine.table_names()

In [ ]:
#loading cleaned data into sql db healthcare table
hospital_transformed.to_sql(name='healthcare',con=engine,if_exists='append',index=False)

In [ ]:
#loading cleaned data into sql db income table
income_transformed.to_sql(name='income',con=engine,if_exists='append',index=False)

In [ ]:
#check hospital data
pd.read_sql_query('select * from healthcare', con=engine).head()

In [ ]:
#check income data
pd.read_sql_query('select * from income', con=engine).head()