In [1]:
#import dependacies
import pandas as pd
from sqlalchemy import create_engine

# Extract

In [2]:
#reading csv file into dataframe for hospitals
csv_file = 'Resources/Hospitals.csv'
hospital_data_df = pd.read_csv(csv_file)
hospital_data_df.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-94.945477,29.747620,8497,76777520,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,1700 JAMES BOWIE DRIVE,BAYTOWN,TX,77520,NOT AVAILABLE,...,2017-12-18T00:00:00.000Z,http://www.houstonmethodist.org/locations/san-...,NOT AVAILABLE,NOT AVAILABLE,48.0,NON-PROFIT,-999.0,182.0,NOT AVAILABLE,Y
1,-82.881843,40.027143,8498,129043230,"WOODS AT PARKSIDE,THE",349 OLDE RIDENOUR ROAD,COLUMBUS,OH,43230,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.thewoodsatparkside.com/,1815,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,50.0,NOT AVAILABLE,NOT AVAILABLE
2,-84.168027,39.774242,8499,130045404,DAYTON CHILDREN'S HOSPITAL,ONE CHILDRENS PLAZA,DAYTON,OH,45404,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.childrensdayton.org/cms/home/index....,1411,NOT AVAILABLE,39.0,NON-PROFIT,-999.0,155.0,PEDIATRIC LEVEL II,Y
3,-80.632972,41.005169,8500,128844512,VIBRA HOSPITAL OF MAHONING VALLEY,8049 SOUTH AVENUE,BOARDMAN,OH,44512,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.mahoningvalleyhospital.com/,1428,MAHONING VALLEY HOSPITAL BOARDMAN CAMPUS,39.0,PROPRIETARY,-999.0,45.0,NOT AVAILABLE,NOT AVAILABLE
4,-84.199398,39.747740,8501,129845417,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,"ONE ELIZABETH PLACE,E3 SUITE A",DAYTON,OH,45417,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,https://dayton.havenbehavioral.com/,1506,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,32.0,NOT AVAILABLE,NOT AVAILABLE

In [3]:
#reading csv file into dataframe for income
csv_file = 'Resources/income.csv'
income_data_df = pd.read_csv(csv_file)
income_data_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

# Transform

In [4]:
#check for duplicates in hospitals dataframe
mask = hospital_data_df.duplicated()
hospital_data_df[mask]

Empty DataFrame
Columns: [X, Y, OBJECTID, ID, NAME, ADDRESS, CITY, STATE, ZIP, ZIP4, TELEPHONE, TYPE, STATUS, POPULATION, COUNTY, COUNTYFIPS, COUNTRY, LATITUDE, LONGITUDE, NAICS_CODE, NAICS_DESC, SOURCE, SOURCEDATE, VAL_METHOD, VAL_DATE, WEBSITE, STATE_ID, ALT_NAME, ST_FIPS, OWNER, TTL_STAFF, BEDS, TRAUMA, HELIPAD]
Index: []

[0 rows x 34 columns]

In [11]:
#check for duplicates in income dataframe
mask = income_data_df.duplicated()
income_data_df[mask]

Empty DataFrame
Columns: [id, State_Code, State_Name, State_ab, County, City, Place, Type, Primary, Zip_Code, Area_Code, ALand, AWater, Lat, Lon, Mean, Median, Stdev, sum_w]
Index: []

In [7]:
#create a new df for just the columns we want
hospital_cols = ["ID", "ZIP", "STATE", "CITY", "POPULATION", "BEDS", "NAME", "OWNER", "STATUS", "TYPE"]
hospital_transformed = hospital_data_df[hospital_cols].copy()


income_cols = ["id", "Zip_Code", "Mean", "Median", "Stdev", "sum_w"]
income_transformed = income_data_df[income_cols].copy()

In [13]:
hospital_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7570 entries, 0 to 7569
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Hospital_id    7570 non-null   int64
 1   Zip            7570 non-null   int64
 2   Us_State       7570 non-null   object
 3   City           7570 non-null   object
 4   Pop_100k       7570 non-null   int64
 5   Beds           7569 non-null   float64
 6   Hospital_Name  7570 non-null   object
 7   Type_Owner     7569 non-null   object
 8   Status         7570 non-null   object
 9   Care           7570 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 591.5+ KB

In [14]:
hospital_transformed.head()

,Hospital_id,Zip,Us_State,City,Pop_100k,Beds,Hospital_Name,Type_Owner,Status,Care
0,76777520,77520,TX,BAYTOWN,182,182.0,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,NON-PROFIT,OPEN,GENERAL ACUTE CARE
1,129043230,43230,OH,COLUMBUS,50,50.0,"WOODS AT PARKSIDE,THE",PROPRIETARY,OPEN,SPECIAL
2,130045404,45404,OH,DAYTON,155,155.0,DAYTON CHILDREN'S HOSPITAL,NON-PROFIT,OPEN,CHILDREN
3,128844512,44512,OH,BOARDMAN,45,45.0,VIBRA HOSPITAL OF MAHONING VALLEY,PROPRIETARY,OPEN,LONG TERM CARE
4,129845417,45417,OH,DAYTON,32,32.0,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,PROPRIETARY,OPEN,PSYCHIATRIC

In [15]:
hospital_transformed.Type_Owner.value_counts()

NON-PROFIT                         3535
PROPRIETARY                        2080
GOVERNMENT - DISTRICT/AUTHORITY     524
GOVERNMENT - LOCAL                  507
NOT AVAILABLE                       366
GOVERNMENT - STATE                  295
GOVERNMENT - FEDERAL                261
REHABILITATION                        1
Name: Type_Owner, dtype: int64

In [16]:
hospital_transformed.Hospital_id.value_counts()

12042240     1
11051502     1
72477584     1
4461455      1
3197836      1
            ..
136775146    1
12854758     1
65986314     1
43691770     1
3721215      1
Name: Hospital_id, Length: 7570, dtype: int64

In [17]:
hospital_transformed.Zip.value_counts()

77030    11
78229    10
79902     9
75093     9
72205     9
         ..
56278     1
82901     1
11768     1
88101     1
18431     1
Name: Zip, Length: 5615, dtype: int64

In [19]:
hospital_transformed.Us_State.value_counts()

TX    798
CA    569
FL    350
OH    290
PA    279
NY    276
LA    261
GA    230
IL    226
IN    190
MI    185
MO    181
TN    176
KS    169
WI    169
OK    165
NC    157
NJ    150
IA    145
MN    144
VA    143
AZ    142
MA    136
WA    133
AL    133
MS    129
KY    128
AR    122
CO    119
NE    111
SC    108
SD     77
NV     76
PR     75
OR     74
MD     71
WV     71
MT     69
UT     68
NM     62
ND     57
ID     55
ME     52
CT     40
WY     37
NH     36
AK     32
HI     29
RI     20
VT     18
DE     15
DC     15
VI      2
GU      2
PW      1
MP      1
AS      1
Name: Us_State, dtype: int64

In [20]:
hospital_transformed.City.value_counts()

HOUSTON         70
SAN ANTONIO     45
CHICAGO         41
DALLAS          40
PHILADELPHIA    36
                ..
HINESVILLE       1
TINTON FALLS     1
DAPHNE           1
CORSICANA        1
WEBSTER CITY     1
Name: City, Length: 3372, dtype: int64

In [21]:
hospital_transformed.Pop_100k.value_counts()

 25      760
-999     690
 60      124
 16      109
 40      107
        ...
 474       1
 478       1
 482       1
 494       1
 1479      1
Name: Pop_100k, Length: 721, dtype: int64

In [22]:
hospital_transformed.Beds.value_counts()

 25.0     762
-999.0    650
 60.0     124
 16.0     112
 40.0     110
         ...
 952.0      1
 548.0      1
 546.0      1
 927.0      1
 639.0      1
Name: Beds, Length: 722, dtype: int64

In [23]:
hospital_transformed.Hospital_Name.value_counts()

MEMORIAL HOSPITAL                        12
COMMUNITY MEMORIAL HOSPITAL               8
MERCY HOSPITAL                            7
COMMUNITY HOSPITAL                        7
BAYLOR EMERGENCY MEDICAL CENTER           6
                                         ..
TEXIENNE HOSPITAL SYSTEMS                 1
ICON HOSPITAL                             1
AMG SPECIALTY HOSPITAL-WICHITA            1
PEACEHEALTH SOUTHWEST MEDICAL CENTER      1
NIAGARA FALLS MEMORIAL MEDICAL CENTER     1
Name: Hospital_Name, Length: 7296, dtype: int64

In [24]:
hospital_transformed.Status.value_counts()

OPEN      7216
CLOSED     354
Name: Status, dtype: int64

In [25]:
hospital_transformed.Care.value_counts()

GENERAL ACUTE CARE    4511
CRITICAL ACCESS       1030
PSYCHIATRIC            741
LONG TERM CARE         431
REHABILITATION         364
MILITARY               218
CHILDREN               125
SPECIAL                122
WOMEN                   19
CHRONIC DISEASE          9
Name: Care, dtype: int64

In [28]:
hospital_transformed.Type_Owner == 'NOT AVAILABLE'

0       False
1       False
2       False
3       False
4       False
        ...
7565    False
7566    False
7567    False
7568    False
7569    False
Name: Type_Owner, Length: 7570, dtype: bool

In [29]:
income_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32526 entries, 0 to 32525
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          32526 non-null  int64
 1   Zip         32526 non-null  int64
 2   Mean        32526 non-null  int64
 3   Median      32526 non-null  int64
 4   Stdev       32526 non-null  int64
 5   Households  32526 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 1.5 MB

In [ ]:
income_transformed.id.value_counts()

In [ ]:
income_transformed.Zip.value_counts()

In [ ]:
income_transformed.Mean.value_counts()

In [ ]:
income_transformed.Median.value_counts()

In [ ]:
income_transformed.Stdev.value_counts()

In [ ]:
income_transformed.Households.value_counts()

In [8]:
#rename the column headers
hospital_transformed = hospital_transformed.rename(columns= {"ID":"Hospital_id", 
                                                             "ZIP":"Zip", 
                                                             "STATE":"Us_State", 
                                                             "CITY":"City", 
                                                             "POPULATION":"Pop_100k", 
                                                             "BEDS":"Beds", 
                                                             "NAME":"Hospital_Name", 
                                                             "OWNER":"Type_Owner", 
                                                             "STATUS":"Status", 
                                                             "TYPE":"Care"})
income_transformed = income_transformed.rename(columns= {"Zip_Code":"Zip",
                                                         "sum_w":"Households"})

# Load

In [9]:
#creating connection to sql 
conn_str = 'postgres:postgres@localhost:5432/Income_vs_healthcare'
engine = create_engine(f'postgresql://{conn_str}')

In [10]:
#check connection
engine.table_names()

<ipython-input-10-64323e9d97e4>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
#loading cleaned data into sql db healthcare table
hospital_transformed.to_sql(name='healthcare',con=engine,if_exists='append',index=False)

In [ ]:
#loading cleaned data into sql db income table
income_transformed.to_sql(name='income',con=engine,if_exists='append',index=False)

In [ ]:
#check hospital data
pd.read_sql_query('select * from healthcare', con=engine).head()

In [ ]:
#check income data
pd.read_sql_query('select * from income', con=engine).head()