In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
#reading csv file into dataframe for hospitals
csv_file = 'Resources/Hospitals.csv'
hospital_data_df = pd.read_csv(csv_file)
hospital_data_df.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-94.945477,29.747620,8497,76777520,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,1700 JAMES BOWIE DRIVE,BAYTOWN,TX,77520,NOT AVAILABLE,...,2017-12-18T00:00:00.000Z,http://www.houstonmethodist.org/locations/san-...,NOT AVAILABLE,NOT AVAILABLE,48.0,NON-PROFIT,-999.0,182.0,NOT AVAILABLE,Y
1,-82.881843,40.027143,8498,129043230,"WOODS AT PARKSIDE,THE",349 OLDE RIDENOUR ROAD,COLUMBUS,OH,43230,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.thewoodsatparkside.com/,1815,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,50.0,NOT AVAILABLE,NOT AVAILABLE
2,-84.168027,39.774242,8499,130045404,DAYTON CHILDREN'S HOSPITAL,ONE CHILDRENS PLAZA,DAYTON,OH,45404,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.childrensdayton.org/cms/home/index....,1411,NOT AVAILABLE,39.0,NON-PROFIT,-999.0,155.0,PEDIATRIC LEVEL II,Y
3,-80.632972,41.005169,8500,128844512,VIBRA HOSPITAL OF MAHONING VALLEY,8049 SOUTH AVENUE,BOARDMAN,OH,44512,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,http://www.mahoningvalleyhospital.com/,1428,MAHONING VALLEY HOSPITAL BOARDMAN CAMPUS,39.0,PROPRIETARY,-999.0,45.0,NOT AVAILABLE,NOT AVAILABLE
4,-84.199398,39.747740,8501,129845417,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,"ONE ELIZABETH PLACE,E3 SUITE A",DAYTON,OH,45417,NOT AVAILABLE,...,2018-04-26T00:00:00.000Z,https://dayton.havenbehavioral.com/,1506,NOT AVAILABLE,39.0,PROPRIETARY,-999.0,32.0,NOT AVAILABLE,NOT AVAILABLE

In [13]:
#reading csv file into dataframe for income
csv_file = 'Resources/income.csv'
income_data_df = pd.read_csv(csv_file)
income_data_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [14]:
dup_hospital_data = hospital_data_df.duplicated()
dup_hospital_data

0       False
1       False
2       False
3       False
4       False
        ...
7565    False
7566    False
7567    False
7568    False
7569    False
Length: 7570, dtype: bool

In [15]:
dup_income_data = income_data_df.duplicated()
dup_income_data

0        False
1        False
2        False
3        False
4        False
         ...
32521    False
32522    False
32523    False
32524    False
32525    False
Length: 32526, dtype: bool

In [16]:
#creating sub df for just the columns we want
hospital_cols = ["ID", "ZIP", "STATE", "CITY", "POPULATION", "BEDS", "NAME", "OWNER", "STATUS", "TYPE"]
hospital_transformed = hospital_data_df[hospital_cols].copy()


income_cols = ["id", "Zip_Code", "Mean", "Median", "Stdev", "sum_w"]
income_transformed = income_data_df[income_cols].copy()

In [17]:
#rename the column headers
hospital_transformed = hospital_transformed.rename(columns= {"ID":"Hospital_id", 
                                                             "ZIP":"Zip", 
                                                             "STATE":"Us_State", 
                                                             "CITY":"City", 
                                                             "POPULATION":"Pop_100k", 
                                                             "BEDS":"Beds", 
                                                             "NAME":"Hospital_Name", 
                                                             "OWNER":"Type_Owner", 
                                                             "STATUS":"Status", 
                                                             "TYPE":"Care"})
income_transformed = income_transformed.rename(columns= {"Zip_Code":"Zip",
                                                         "sum_w":"Households"})

In [19]:
hospital_transformed.dtypes

Hospital_id        int64
Zip                int64
Us_State          object
City              object
Pop_100k           int64
Beds             float64
Hospital_Name     object
Type_Owner        object
Status            object
Care              object
dtype: object

In [20]:
income_transformed['id'] = income_transformed['id'].astype(int)

In [26]:
df_merged = hospital_transformed.merge(income_transformed,how='left',left_on='Hospital_id',right_on='id')

In [27]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7570 entries, 0 to 7569
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Hospital_id    7570 non-null   int64
 1   Zip_x          7570 non-null   int64
 2   Us_State       7570 non-null   object
 3   City           7570 non-null   object
 4   Pop_100k       7570 non-null   int64
 5   Beds           7569 non-null   float64
 6   Hospital_Name  7570 non-null   object
 7   Type_Owner     7569 non-null   object
 8   Status         7570 non-null   object
 9   Care           7570 non-null   object
 10  id             0 non-null      float64
 11  Zip_y          0 non-null      float64
 12  Mean           0 non-null      float64
 13  Median         0 non-null      float64
 14  Stdev          0 non-null      float64
 15  Households     0 non-null      float64
dtypes: float64(7), int64(3), object(6)
memory usage: 1005.4+ KB

In [29]:
income_transformed.Zip.value_counts()

94606    19
11203    16
11377    15
11204    15
92626    15
         ..
6820      1
2726      1
53933     1
15024     1
36862     1
Name: Zip, Length: 14803, dtype: int64

In [30]:
income_transformed[income_transformed.Zip == 94606]

            id    Zip   Mean  Median  Stdev   Households
1840    602109  94606  69451   63541  51804   745.931880
2062    602129  94606  77975   57909  67176   945.613118
2284    602149  94606  61577   40868  61139   625.270897
2385  60215819  94606  64016  300000  50034   269.391414
2408  60216019  94606  49800   42948  32616   513.715364
3085  60222109  94606  45181   28713  46476   258.593347
3575  60226529  94606  71146   56524  46208   470.150583
3675  60227429  94606  68751   46163  63151   447.280263
3977  60230139  94606  42224   40206  35286   604.147886
4411     60259  94606  56247   41818  50478   871.291252
4477   6026499  94606  47738   33483  37975  1621.253291
4652   6028079  94606  66287   53673  55863   288.780156
4666   6028199  94606  39304   29556  41275   490.121174
4668   6028219  94606  32640   25173  24089   248.324222
4679   6028319  94606  27565   23356  18932   222.659155
4681   6028339  94606  35936   26301  31074   538.705787
4686   6028389  94606  62631   47970  49357   380.886239
4694   6028459  94606  97339   70273  80488   373.250089
4744     60289  94606  48065   33683  45741   799.805914

In [9]:
#creating connection to sql 
conn_str = 'postgres:postgres@localhost:5432/Income_vs_healthcare'
engine = create_engine(f'postgresql://{conn_str}')

In [10]:
#check connection
engine.table_names()

<ipython-input-10-64323e9d97e4>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['healthcare', 'income']

In [13]:
#loading cleaned data into sql db healthcare table
hospital_transformed.to_sql(name='healthcare',con=engine,if_exists='append',index=False)

In [14]:
#loading cleaned data into sql db income table
income_transformed.to_sql(name='income',con=engine,if_exists='append',index=False)

In [15]:
#check hospital data
pd.read_sql_query('select * from healthcare', con=engine).head()

,Hospital_id,Zip,Us_State,City,Pop_100k,Beds,Hospital_Name,Type_Owner,Status,Care
0,76777520,77520,TX,BAYTOWN,182,182.0,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,NON-PROFIT,OPEN,GENERAL ACUTE CARE
1,129043230,43230,OH,COLUMBUS,50,50.0,"WOODS AT PARKSIDE,THE",PROPRIETARY,OPEN,SPECIAL
2,130045404,45404,OH,DAYTON,155,155.0,DAYTON CHILDREN'S HOSPITAL,NON-PROFIT,OPEN,CHILDREN
3,128844512,44512,OH,BOARDMAN,45,45.0,VIBRA HOSPITAL OF MAHONING VALLEY,PROPRIETARY,OPEN,LONG TERM CARE
4,129845417,45417,OH,DAYTON,32,32.0,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,PROPRIETARY,OPEN,PSYCHIATRIC

In [16]:
#check income data
pd.read_sql_query('select * from income', con=engine).head()

        id    Zip   Mean  Median  Households  Stdev
0  1011000  36611  38773   30506        1638  33101
1  1011010  36048  37725   19528         258  43789
2  1011020  35051  54606   31930         926  57348
3  1011030  36572  63919   52814         378  47707
4  1011040  36528  77948   67225         282  54270